
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$primary : #f8f7f7;
@import "bootstrap";
$font-weight-bold: 700;
$h3-font-size:1.20rem;
$p-font-size:0.9rem;
$dark: $gray-900;
$color-oferta: #ea2840;
$bg_primario:#00a559;
$bg_primario_oscuro:#d94800;
$texto:'Roboto Condensed', sans-serif;

*{
    margin: 0;
    padding: 0;
} 

.logolino{
    align-self: center;
}


.carrito{
    width: 30px;
    height: 30px;
    filter: hue-rotate(620deg) brightness(900%);
    align-self: center;
}

h3{
    font-weight: $font-weight-bold;
    font-size: $h3-font-size;
    color:  $primary;
}
h6{
    color: #707070;
    font-family: $texto;
    font-weight:400;
}
p{
    font-size: $p-font-size;
    color: $primary;

}

.cards1{
    background-color: $dark;
}

.card2,
.card3
{
    border: 0px;
 
}

.card-img-top{
    width: 80px;
 
}  


.ofertas{
    width:200px;
}

.cajax{
    border:1px solid #babacc;
        &:hover{
            -webkit-box-shadow: -1px 0px 11px -1px rgba(35,43,28,1);
            -moz-box-shadow: -1px 0px 11px -1px rgba(35,43,28,1);
            box-shadow: -1px 0px 11px -1px rgba(35,43,28,1);
            transition-duration: 0.5s;
        }
}

@mixin flexible ($dis, $direction, $corte, $just, $align){
    display : $dis;
    flex-flow : $direction $corte;
    justify-content: $just;
    align-items : $align
}

.flex{
    gap:10px;
    @include flexible( flex, row, nowrap, center, center)
}


.fondo-oferta{
    background-color: $dark;
}





@mixin mv( $media : 346px){
    @media screen and (max-width: $media){
        @content;
    }
}

.carrusel {
    width:100%;
    @include mv(768px){ 
        height: 200px ;
    }
    @include mv(576px){ height:200px !important;}
    @include mv(480px){width: 100%;height:120px !important; }
    @include mv(){  height:100px !important;}
  }

.cajas1{
    display: flex;
    flex-direction: row;
  
}

.ofertas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    gap: 10px;
}

.flex-item{
    width: 200px;
}

.vermasx{
    display: inline-flex;
    align-items: center;
   

}
.vermas{    
    color: #f50;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: underline;
    &:hover{
        color: rgb(173, 60, 4);
    }
}


/****PRODUCTO***/

.bgproducto{
    background-color: #ededed;
}

.bgmain{
    background-color: #fff;
    padding: 20px;
}
.nombreprod{
    font-weight: bold;
    color: #000;
}

.precio{
    font-weight: bold;
    color: #ea2840;
    font-size: 1.4rem;
}

 .o2{
    border: 1px solid rgba(134, 133, 133, 0.548);
    border-radius: 5px;
}

.o1{
    text-align: center;
}

.caracteristicas{
    display: flex;
    justify-content: center;
}
.form_campo{
    border: 1px solid $bg_primario_oscuro;
    background-color: transparent;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-right: 10px;
}

.form_campo option{
    color:$bg_primario_oscuro
}
.form_submit{
    background-color: #f50;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    transition: background-color 2s ease;
    color: #fff;
    font-weight: bolder;
    border-radius: 5px;
    width: 72%;
}

.form_submit:hover{
  cursor: pointer;
  background-color: $bg_primario_oscuro;
}

.original-price {
    color: #aaa;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3rem;
    text-decoration: line-through;
  }
  .discount {
    color: #333;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3rem;
  }

  .carrito-envio{
    width:25px;
  }

  .texto_envio{
    font-size: 1rem;
    color: #000;
  }

  .texto_envio-gris{
    color: #aaa !important;
  }

  
  /**acordeon**/
  ul.lista {list-style-position:outside;}

  .accordion-button-negrita{
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .accordion-button:not(.collapsed) {
    color: #f50 !important;
  }


  .pacordion{
    color: $black;  
  }

  a{
    color:#f50 !important;
  }

  .cmr-request-card-icon{
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: 'Poor Story', cursive;
    
  }

.cmrcolor{
    color: #399624;
    &:hover{
        color: #ededed;
        background-color: #399624;
    }
}
  
  .cmrbox{
    color: #399624;
    border: 1px solid #399624;
    &:hover{
        color: #ededed;
        background-color: #399624;
    }
  }

  .gridmpagos{
    display: grid;
    grid-template-columns: repeat(4 , 0.13fr);
  }

  .icon{
    width:25px;
  }

  .flexito{
    display: flex;
    flex-direction: row;
    text-decoration: none;
        &:hover{
            color: #f50;
        }
  }

  .texto_cliente{
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    &:hover{
        color: #f50;
    }
  }

  /***FOOTER***/

  .text-footer1{
    text-decoration: none;
  }

  .text-footer2{
    color: #666;
    font-size: 0.8rem;
    text-decoration: none;

  }
  .flex-container{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }
  
 .flexfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 80px 10px 80px;
    flex-wrap: wrap;
 }

 @media only screen and (max-width: 576px) {
    .flexfooter{
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-content: center;
        margin: 0;
        width: 100%;
     }
     .flex-container{
        width: 100% !important;
        padding-left: 0px;
     }
     .text-footer1{
        display: flex;
        justify-content: center;
      }
    
      h8{
        display: flex;
        justify-content: center;
    
      }
    
 }


 @media only screen and (max-width: 780px) {
    .flex-container{
        padding-left: 0px;
     }
 }

 @media only screen and (max-width: 1080px) {
    .flex-container{
        padding-left: 0px;
     }
 }
 hr {
    margin: 0rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

/****LOGIN****/
footer{
  position: relative;
  width: 100%;
  height: 205px;
}
.form-control {
  box-shadow: none;
  border-color: #ddd;
}
.form-control:focus {
  border-color: #df6514; 
}
.login-form {
      width: 350px;
  margin: 0 auto;
  padding: 30px 0;
}
  .login-form form {
      color: #434343;
  border-radius: 1px;
    margin-bottom: 15px;
      background: #fff;
  border: 1px solid #f3f3f3;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
}
.login-form h4 {
  text-align: center;
  font-size: 22px;
      margin-bottom: 20px;
}
  
  .login-form .form-group {
      margin-bottom: 20px;
  }
.login-form .form-control, .login-form .btn {
  min-height: 40px;
  border-radius: 2px; 
      transition: all 0.5s;
}
.login-form .close {
      position: absolute;
  top: 15px;
  right: 15px;
}
.btn-security {
  width: 100%;
  color: #fff;
  background-color: #f50;
  border-color: #f50;
  font-size: 1rem;
font-weight: 400;
text-transform: initial;
}
.login-form .btn:hover, .login-form .btn:focus {
  background: rgb(209, 70, 0);
  color: #fff;

}
  .login-form .checkbox-inline {
      float: left;
  }
  .login-form input[type="checkbox"] {
      margin-top: 2px;
  }
  .login-form .forgot-link {
      float: right;
  }
  .login-form .small {
      font-size: 13px;
  }
  .login-form a {
      color: #4aba70;
  }

  /***promo***/
 

  .img-col-s{
    width: 367px;
    height: 242px;
  }
  .img-col-l{
    width: 523px;
    height: 242px;
  }
  .imgpromo{
    object-fit: cover;
    width:100%;
    height:100%;
    padding: 2px;
  }

  .header{
    &__cart{ 
      position: relative;
      &--noti{
        display: none;
        background-color: $bg_primario ;
        width: 19px;
        height: 17px;
        border-radius: 17px;
        position: absolute;
        top: 7px;
        right: -7px;
        font-size: 0.7em;
        text-align: center;
        color: white;
        font-weight: bold;
      }
      &:hover{
        cursor: pointer;
      }
      
  }
  }
 
  .u-full-width {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
  }

  .u-full-width th,
  .u-full-width td {
    padding: 12px 15px;
  }
  .u-full-width tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .car{
      display: block;
      position: absolute;
      right:-150px;
      top:100%;
      z-index: 99;
      background-color: white;
      padding: 20px;
      min-width: 300px;
     border-radius: 10px;
     box-shadow: 0 3px 2px 0 rgba(0,0,0,.35);
    color: rgb(0, 0, 0);
}
.car-modal{
  font-family: $texto;
  font-weight: 700;
  padding: 15px;
  border-bottom: 1px solid #707070;
  color:#000;
}
.input{
  display: flex;
  justify-content: space-around;
    &__minus{
      width: 25px;
      height: 100%;
      padding: 12px 3px;
        &:hover{
          cursor: pointer;
        }
    }
    &__plus{
      width: 25px;
      height: 100%;
      padding: 12px 3px;
        &:hover{
          cursor: pointer;
        }
    }
    &__number{
      width: 30%;
      border:none;
      background-color: #e7e7e7;
      font-size: 1.2em;
      font-weight: 700; text-align: center;
      outline: none;
    }
}

.agregar-carrito{
  background-color: $bg_primario;
  display: flex;
  width: 100%;
  height: 45px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  color: white !important;
  font-size: 0.9em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 10px;
  text-decoration: none;
}

.detalle{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

.precio_final{
  font-size: 1.5rem;
}

.ver__producto{
  background-color: #00a559;
  color: white !important;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
  height: 30px;
  align-content: center;
  display: grid;
  justify-content: center;
}
.car-vercarrito{
  background-color: #00a559;
  color: white !important;
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
  height: 35px;
  align-content: center;
  display: grid;
  justify-content: center;
}